WSDLs/Husky_ServiceNowAvailabilityService.xml

<?xml version="1.0"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/Husky_ServiceNowAvailabilityService" targetNamespace="http://soap.sforce.com/schemas/class/Husky_ServiceNowAvailabilityService">
<types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/Husky_ServiceNowAvailabilityService">
    <xsd:element name="AllowFieldTruncationHeader">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="allowFieldTruncation" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="CallOptions">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="client" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="DebuggingHeader">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo"/>
                <xsd:element name="debugLevel" type="tns:LogType"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:complexType name="LogInfo">
        <xsd:sequence>
            <xsd:element name="category" type="tns:LogCategory"/>
            <xsd:element name="level" type="tns:LogCategoryLevel"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="LogCategory">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Db"/>
            <xsd:enumeration value="Workflow"/>
            <xsd:enumeration value="Validation"/>
            <xsd:enumeration value="Callout"/>
            <xsd:enumeration value="Apex_code"/>
            <xsd:enumeration value="Apex_profiling"/>
            <xsd:enumeration value="Visualforce"/>
            <xsd:enumeration value="System"/>
            <xsd:enumeration value="Wave"/>
            <xsd:enumeration value="All"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LogCategoryLevel">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="None"/>
            <xsd:enumeration value="Finest"/>
            <xsd:enumeration value="Finer"/>
            <xsd:enumeration value="Fine"/>
            <xsd:enumeration value="Debug"/>
            <xsd:enumeration value="Info"/>
            <xsd:enumeration value="Warn"/>
            <xsd:enumeration value="Error"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LogType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="None"/>
            <xsd:enumeration value="Debugonly"/>
            <xsd:enumeration value="Db"/>
            <xsd:enumeration value="Profiling"/>
            <xsd:enumeration value="Callout"/>
            <xsd:enumeration value="Detail"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:element name="DebuggingInfo">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="debugLog" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="SessionHeader">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="sessionId" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:length value="18"/>
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="APIServerAvailability">
        <xsd:sequence>
            <xsd:element name="Access" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="AppFlag" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="Application" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="Asset" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="CRNumber" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="Name" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="PlannedFlag" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="PollingInterval" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="Status" minOccurs="0" type="xsd:string" nillable="true"/>
            <xsd:element name="User" minOccurs="0" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Response">
        <xsd:sequence>
            <xsd:element name="results" minOccurs="0" maxOccurs="unbounded" type="tns:Result" nillable="true"/>
            <xsd:element name="returnCode" minOccurs="0" type="xsd:int" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Result">
        <xsd:sequence/>
    </xsd:complexType>
    <xsd:complexType name="address">
        <xsd:complexContent>
            <xsd:extension base="tns:location">
                <xsd:sequence>
                    <xsd:element name="city" type="xsd:string"/>
                    <xsd:element name="country" type="xsd:string"/>
                    <xsd:element name="countryCode" type="xsd:string"/>
                    <xsd:element name="geocodeAccuracy" type="xsd:string"/>
                    <xsd:element name="postalCode" type="xsd:string"/>
                    <xsd:element name="state" type="xsd:string"/>
                    <xsd:element name="stateCode" type="xsd:string"/>
                    <xsd:element name="street" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="location">
        <xsd:sequence>
            <xsd:element name="latitude" type="xsd:double"/>
            <xsd:element name="longitude" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="pushRecords">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="availabilityRecords" minOccurs="0" maxOccurs="unbounded" type="tns:APIServerAvailability" nillable="true"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="pushRecordsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="result" type="tns:Response" nillable="true"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
</types>
<!--  Message for the header parts  -->
<message name="Header">
    <part name="AllowFieldTruncationHeader" element="tns:AllowFieldTruncationHeader"/>
    <part name="CallOptions" element="tns:CallOptions"/>
    <part name="DebuggingHeader" element="tns:DebuggingHeader"/>
    <part name="DebuggingInfo" element="tns:DebuggingInfo"/>
    <part name="SessionHeader" element="tns:SessionHeader"/>
</message>
<!--  Operation Messages  -->
<message name="pushRecordsRequest">
    <part element="tns:pushRecords" name="parameters"/>
</message>
<message name="pushRecordsResponse">
    <part element="tns:pushRecordsResponse" name="parameters"/>
</message>
<portType name="Husky_ServiceNowAvailabilityServicePortType">
    <operation name="pushRecords">
        <input message="tns:pushRecordsRequest"/>
        <output message="tns:pushRecordsResponse"/>
    </operation>
</portType>
<binding name="Husky_ServiceNowAvailabilityServiceBinding" type="tns:Husky_ServiceNowAvailabilityServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="pushRecords">
        <soap:operation soapAction=""/>
        <input>
            <soap:header use="literal" part="SessionHeader" message="tns:Header"/>
            <soap:header use="literal" part="CallOptions" message="tns:Header"/>
            <soap:header use="literal" part="DebuggingHeader" message="tns:Header"/>
            <soap:header use="literal" part="AllowFieldTruncationHeader" message="tns:Header"/>
            <soap:body use="literal" parts="parameters"/>
        </input>
        <output>
            <soap:header use="literal" part="DebuggingInfo" message="tns:Header"/>
            <soap:body use="literal"/>
        </output>
    </operation>
</binding>
<service name="Husky_ServiceNowAvailabilityServiceService">
    <documentation/>
    <port binding="tns:Husky_ServiceNowAvailabilityServiceBinding" name="Husky_ServiceNowAvailabilityService">
        <soap:address location="https://na30.salesforce.com/services/Soap/class/Husky_ServiceNowAvailabilityService"/>
    </port>
</service>
</definitions>
